.khan__buy-link {
  max-height: 40px;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: .7s all;
}

.khan__buy-link:hover {
  opacity: .6;
}
